@model AssignmentC1_School_Qiyuanliu.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<nav>
    <a class="navlink" href="/Teacher/List">Back to Teachers</a>
    <a class="dellink" style="color:crimson;" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete Teacher</a>
</nav>


<div id="containershow">

    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p>Teacher's id is"@Model.TeacherId"; Teacher's employee number is "@Model.EmployeeNumber"</p>
    <p>Teacher's hire date is "@Model.HireDate.ToString("dd-MMM-yyyy")"; Teacher's salary is "@Model.Salary"</p>

</div>